* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #342C5C;
    display: flex;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a895f9;
    height: 15%;
    padding: 25px;
}

.header h1 {
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

i{
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.cuerpo {
    display: flex;
    margin: 15px;
}

.secciones{
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.secciones .busqueda{
    display: flex;
    justify-content: flex-start;
}

.busqueda{
    display: flex;
    align-items: center;
    width: 400px;
    padding: 10px;
}

.busqueda input{
    width: 100%;
    border: 1px solid #c4cdd7;
    border-radius: 10px;
    padding: 15px;
}

.secciones .nuevaCarpeta{
    display: flex;
    justify-content: flex-end;
}

.nuevaCarpeta{
    display: flex;
    align-items: center;
    height: 50px;
    width: 200px;
}

.boton {
display: flex;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;  
border-radius: 12px;
color: white;
background-color: black;
text-decoration: none;
color: white;  
}

.boton:hover {
    background-color: #c4cdd7;
}

.boton i{
    color: white;
    font-size: 25px;
    margin-right: 10px;
}
.cuerpo .expedientes {
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

tbody tr:hover{
    cursor: pointer;
    background-color: #dddddd;
}

.cuerpo .expedientes table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cuerpo .expedientes th {
    text-align: left;
    color: #666666;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid #dddddd;
}

.cuerpo .expedientes td {
    padding: 15px 10px;
    font-size: 16px;
    color: #333333;
    border-bottom: 1px solid #dddddd;
}

.cuerpo .expedientes tr:last-child td {
    border-bottom: none;
}


.menu {
    display: flex;
    position: fixed;
    left: -550px; 
    flex-direction: column;
    width: 25%;
    height: 100vh;
    background-color: white;
    border-right: 1px solid #e6e6e6;
    transition: left 0.3s ease; 
}

.menu.active {
    left: 0; 
}

.aside-cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.cerrar{
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.aside-cuerpo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.info-Personal{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.info-Personal h1{
    margin-top: 10px;
}


.Rol {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.Rol .icono {
    margin-right: 15px; 
}

.Rol .texto-rol {
    display: flex;
    flex-direction: column;
}

 .inicioSesion{
    text-decoration: none;
    color: black;
    width: 80%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: #c0a8f9;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.inicioSesion{
    margin-top: 30px;
}

