*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SECCION */
section {
    margin: 50px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.perfil {
    border: 1px solid rgb(212, 212, 212);
    padding: 20px;
    margin: 50px;
    text-align: center;
    width: 250px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.perfil img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 50%;
}

.perfil h3 {
    margin: 10px;
    font-family: 'Raleway', sans-serif;
}


.perfil li {
    margin: 8px 0;
    padding: 5px;
    background-color: #f4f4f4;
}
